.body{
    border: 2px solid skyblue;
    padding: 10px;
    margin: 15px;
    border-radius: 15px;
}
.visited{
    background-color:rgb(121, 235, 235);
    color: black;
}
.nonVisited{
    background-color: rgb(2, 39, 45);
}